@import 'src/variables.scss';

.side-nav-container {
  padding: 40px 40px 40px 0;
  height: calc(100% - 80px);
  background-color: $primary;

  hr {
    margin-left: 40px;
  }
}

.currentUser {
  padding-left: 40px;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.signoutLink {
  padding: 0;
  margin: 0;
  font-size: 11px;
}
