<div class="side-nav-container">
  <div class="currentUser" *ngIf="user; else signupLink">
    <div class="userName">{{ user.firstName }}</div>
    <div>
      <a
        class="signoutLink"
        mat-button
        disableRipple="true"
        href="#"
        (click)="signOut()"
        >(Not you?)</a
      >
    </div>
  </div>
  <ng-template #signupLink>
    <app-sidenav-menu [menuItems]="topMenu"></app-sidenav-menu>
  </ng-template>
  <hr />
  <app-sidenav-menu [menuItems]="primaryMenu"></app-sidenav-menu>
</div>
