<div style="margin:20px;">
	<h2><b>News</b></h2>

	<p>The Guild is officially incorporated as of March 29, 2022.  We have had a few members join since then, and have had some great conversations on the direction of the Guild.  We are not pushing for growth right now, but are happy to bring on more people who we have already vetted in order to work together professionally.  Members must be vetted by somebody other than the Guild Member they know.  As the Guild grows, we will soon open up membership applications to the general public.</p>

    <p>We hold Guild Meetings to discuss the direction of the Guild every Second Wednesday of each month at 5pm Eastern.  Each topic and point of interest we talk about in our <a routerLink="/about">About Us</a>, <a routerLink="/membership">Membership</a>, and <a routerLink="/clients">Clients</a> pages are up for discussion during these meetings.  The itinerary for an upcoming meeting is discussed in Guild Chat at least the day before, if not earlier.</p>

	<h2><b>Upcoming Events</b></h2>

	<p>The Guild hosts many public speaking events on YouTube and Twitch.  Being headquartered in Oklahoma City, we have created a heavy relationship with <a href="https://www.techlahoma.org/">Techlahoma</a>, a non-profit organization meant to enrich Oklahoma's technologists.  With their support, the Guild runs an associated User Group where we Dual-Stream to both <a href="https://www.twitch.tv/techlahoma">Techlahoma's Twitch Channel</a>, as well as the <a href="https://www.youtube.com/channel/UC2X0eu3YE5S-cYsQSwlGrWQ">Jinn Studios YouTube Channel</a> (Channel may be renamed or changed to be Guild-Official in the future).</p>

	<p>The Guild happily supports Techlahoma through their <a href="https://www.meetup.com/techlahoma-foundation/">Meetup Group</a> as well as by being the Main Sponsor (Lunch Sponsor) for their three major events; 200OK, UXOK, and ThunderPlains.  So buy tickets for either Digital or In-Person, and get some Lunch on us!</p>

	<h2><b>Press Releases</b></h2>

	<p>As the Guild grows and we work out our third party relationships, work with companies we Support and Donate to, hit certain milestones, and begin to change the face of the IT industry with solid, peer-reviewed standards.  The Guild will help streamline, via peer-review and expert collaboration, the growth of our IT related fields from simple fields to Engineering Fields.</p>

	<p>Check back periodically for Press Releases!</p>

</div>