<div style="margin:20px;">
	<h2><b>Benefits to Businesses and Prospective Clients for our Members</b></h2>

	<p>A major portion of the Guild is to be a resource to businesses.  Most projects require a couple engineers and a team of mid-level staff.  The engineers know the principles, industry standards, and best practices, and can lead a business' staff to success. The Guild is simply a resource of <a routerLink="/disciplines">engineers who deal with information technologies</a>.  The Guild acts as a trade association who only allows certain <a routerLink="/ranks">skill levels</a> to join.</p>

	<p>When a business is searching for those engineers, the Guild instills confidence.  To be a Member of the Guild, engineers must pass the type of serious vetting, interview and reference checks any enterprise business would put somebody through.  When a business is selecting a Guild Member to work with, no technical interview is necessary.  Instead, businesses can choose an engineer based on business factors such as: rate, active hours or timezone, specialized certifications, and specializations in frameworks or with products.</p>

    <p>The Guild is not an IT company who can be hired.  One way the Guild increases confidence is because we will never accept any payment or trade from either a Member or a Business to prioritize special treatment.  The Guild makes zero profit from the realtionship built between a Business and a Guild Member. Think of the Guild as a combination of Stack Overflow and LinkedIN, but who doesn't allow random connections.  To become a Member, the vetting is rigorous, or there is no point in our existence.  To be a Client who looks specifically for Guild Members, businesses must understand that the Guild, like the BAR Association, sets standards for how the Client interacts with their Consultant(s).  Mainly in terms of contractual work conditions, pay and mutual respect.</p>

	<ol>
		<li>First and foremost, you can rest assured that any consultant you contract with is vetted to the Guild Rank of the disciplines they are part of.  Also, they are part of a community of highly skilled engineers who are active in our internal communication platforms, and we are all very helpful to each other.  Lastly, it is heavily moderated that confidential information and intellectual property never be discussed amongst Guild Members.  We help each other as a precursor to posting questions on public forums such as Stack Overflow, making the Guild Community MORE secure, not less so.</li>

		<li>As a Client or Prospective Client, you can use the Guild website to access details about your Guild Member Consultant or Prospective Consultant by entering their Member ID, or using your phone to capture their QR code from their membership or business card.</li>

		<li>If you require consulting services, you can use the Guild Website to create an RFP or Solicitation and specify which discipline(s) are required.  Since all Guild Members are already well vetted, the replies to your RFP have a high chance of being great candidates for your specific requirements.  Proposals you receive would include the Member's profile so you can view their projects, certifications, and other details.</li>

		<li>Clients, and Prospective Clients who have officially engaged with Guild Members are allowed to purchase tickets to Guild Conferences at a discounted rate for any of their employees who are within the tech industry, and within the Disciplines of the Guild.</li>

		<li>Contracts between Clients and Guild Members can be simplified.  Guild Membership requires signing an agreement that requires Members to adhere to specific provisions for any Client Contract while they are a Guild Member.  Things such as Confidentiality, Intellectual Property, Capacity, Non Solicitation, Indemnification, Insurance, and more.  To view a copy of the Guild's current Membership Agreement, click here.</li>

		<li>Once you sign a contract with a Guild Member, the Member will register the relationship with the Guild.  You will receive a verification email regarding the relationship, which will register your company to be able to use the tools listed here.  If you are currently contracting with a Guild Member but don't know if you are registered, simply call the Guild and we will ensure the relationship is properly registered.</li>

		<li>When your business relationship is registered with a Guild Member, you will receive notification if that Member's Membership ever lapses.</li>

		<li>Lastly, as a Client or Prospective Client, you have the right to file complaints about Guild Members.  We expect this would be rare, but you also have the right to contact the Guild as a reference for a candidate, including asking about complaints.  Some of this information may be available or confidential depending on the scenario.  Though if a candidate had any serious complaints, they would likely have lost their membership.</li>
	</ol>

	<h2><b>Expectations of the Clients of Guild Members</b></h2>

	<p>Clients of Guild Members are expected to ensure their relationship with a Guild Member is registered with the Guild.</p>

	<ol>
		<li>If you receive an email from the Guild asking you to click a link to verify you have a relationship or prospective relationship with a Member, please do so (or manually visit your dashboard and do so within the website).  This protects you and helps the Guild enforce and mediate non-solicitation.  These relationship registrations are confidential between you, the Guild Member, and Guild Mediators, unless the Guild Mediators need to use the information to mediate.</li>

		<li>If you have not received an email asking you to verify a relationship, please Click Here to ensure the process has begun.</li>

		<li>This also allows your company to be registered to use our website to perform other functions related to your relationships with the Guild and its Members.  This includes receiving discounts for your Employees to attend Guild Conferences, Client Merchandise, and more.</li>

		<li>If your contract with a Guild Member is terminated for any reason, you may receive an email asking you to verify the termination and to possibly leave any feedback on the Member.  This feedback is confidential between you, the Member, and Guild Leadership, until such time as both you and the Member allow it to be made public.</li>

		<li>Any time you have positive or negative feedback on the Guild (or its Members), please use the Guild Website to provide such feedback.  All feedback is appreciated and confidential until both you and The Guild (or Member) decide to make it public.</li>
	</ol>
</div>