<div style="margin:20px;">
	<h2><b>Advocacy</b></h2>

	<p>The Guild supports organizations around the world, but we start from home base.  <a href="https://www.techlahoma.org/">Techlahoma</a> is a non-profit organization meant to enrich Oklahoma's technologists.  The Guild happily supports Techlahoma through their <a href="https://www.meetup.com/techlahoma-foundation/">Meetup Group</a> as well as by being the Main Sponsor (Lunch Sponsor) for their three major events; 200OK, UXOK, and ThunderPlains.  So buy tickets for either Digital or In-Person, and get some Lunch on us!</p>

	<p>The Guild supports Stack Exchange.  This explicit support contradicts the explicit opposition of websites such as Medium for engineering purposes.  We would have sites like Medium implement a peer review process like Stack Exchange.  Sites that allow free posting without peer review can be good for some things, but engineering principles is not one of them.  Stack Exchange attracts experts and active community members to review both questions and answers, and structures them specifically for peer review.  We support Stack Exchange by acknowledging that we are active in the review/voting process, answering questions, and participating in important events.</p>

	<p>The Guild will vote to support good legislation, and oppose bad legislation, as that legislation relates to Information Technology.  For example; the shameful passing of the SOPA/PIPA legislation.</p>

	<p>The way the Guild advocates for (or against) certain platforms, organizations, and legislation is very much member-based.  As a forum of senior skill levels at our crafts, we have discussions, and we individually decide to support (or not) each of these topics.  Those topics that are overwhelmingly agreed upon by the Guild are a candidate for direct support from the Guild organization.</p>

	<h2><b>Initiatives</b></h2>
	
	<p>For 2022, the Guild is supporting three conferences which are being hosted by Techlahoma in Tulsa, Oklahoma and online.  Though our biggest initiative is the completion of our public website, then the completion of our authenticated portion for Members and Clients.  Ongoing business includes contributions to social networks, conferences, and meetups which further educate our industry on best practices.</p>

</div>