<div style="margin:20px;">
    <div style="height: 200px">
        <app-guild-logo logo="guildOwl"></app-guild-logo>
    </div>
	<h1><b>About The Guild</b></h1>

	<p>The Guild is an association of Information Technology consultants with the professional, technical, and personal skills to be able to consult to an array of audiences.  At its core, consulting is educating, which is why many in our profession enjoy speaking at conferences, schools, or to other Information Technology teams and businesses.</p>

	<h2><b>Vision Overview</b></h2>

	<p>The Guild aims to centralize discussion of technical topics, best practices, principles, and processes, thereby creating an atmosphere of continuous education amongst each other and our audiences, to the benefit of the I.T. industry.  The Guild will provide this information to anybody who wishes to read, listen, or attend workshops, seminars, conferences, etc.</p>

	<p>Vision Highlights:</p>
		<ul>
			<li>Membership benefits include (But are not limited to):
				<ul>
					<li>Community Membership to connect with fellow experts you can trust.</li>
					<li>Established trust as an expert amongst the fellows of the Guild.</li>
					<li>Established trust from current or prospective clients who trust the Guild and its Members.</li>
					<li>Access to Healthcare and the ability to decouple from employers and recruiters.</li>
					<li>A system, managed by the Guild, to create a beautiful harmony between fellow consultants who may even be competitors in a market.</li>
				</ul>
			</li>
			<li>Businesses who are current or prospective clients receive benefits through the Guild:
				<ul>
					<li>Access to submit projects to a network of experts who can consult or contribute, to move a business forward.</li>
					<li>The Guild does not gain money, relationships, advertising, or any other benefit when a Guild Member contracts with a business.  This increases trust in the Guild's honesty and integrity.</li>
					<li>Trust that any Members they work with are extremely well vetted.  See the “Vetting” section on the <a routerLink="/membership">membership</a> page.</li>
					<li>Streamline interviews to specific questions that are outside the box, knowing that the Guild has performed the steps to ensure a person is a general expert within a discipline of the Guild.</li>
				</ul>
			</li>
			<li>Non-Members in the tech industry will benefit by being able to attend workshops, user groups, and conferences, that are either directly run by the Guild, or by some partner associations.</li>
		</ul>


	<p>Guild consultants receive benefits for their membership, as outlined on the <a routerLink="/membership">membership</a> page.  One benefit of the Guild is to be part of a trusted source of consultants for businesses who have project requirements that Guild Members can fulfill (See “Disciplines of the Guild”).  This is a symbiotic relationship, such that the Guild relies on businesses to provide feedback on its Members, and that Guild Members find projects easier because businesses already trust them.</p>

	<h2><b>Achieving the Vision</b></h2>

	<p>To achieve our vision, the Guild must demand the trust of businesses.  We do that by adhering to strict rules of admittance, as outlined on the <a routerLink="/membership">membership</a> page.  Amongst other things, Guild Members must be peer reviewed and vetted (See the “Vetting” section on the <a routerLink="/membership">membership</a> page).  Peer review happens by members of a Discipline's Senior Committee or Task Force, as outlined in the Guild Bylaws.  It is much like a job interview for a big company.  The diligence involved in becoming peer reviewed facilitates the goal of Members' ability to present themselves to prospective clients with the clients knowing they have been reviewed and vetted, and therefore don't have to expend their own time and money doing so.  Thus, this will hopefully be the Guild Member's last time requiring a general interview, ever.</p>

	<p>As a trusted association for consultants within the Disciplines of the Guild, the Guild's vision includes plans for partnerships, publication, standardization, and contributing to causes.  Issues the Guild supports or discourages, partnerships, publications, and standardizations are all an effort of the Guild Members.  These topics are discussed in the Guild forums, meetings, and decided during Guild Votes.</p>

	<h2><b>Partnerships</b></h2>

	<p>	Being, or becoming, a consultant requires a lot more than the skills of your discipline.  Taxes, healthcare, accounting, business regulations, licenses, certifications, insurances, marketing, and more.  Most of these can be outsourced up to 100%, and are one time setups.  But finding sources who are reliable and affordable isn't easy.  The Guild, through Member Votes, can partner with known companies who are already used and trusted by current Guild Members.  Also, though never claimed as official legal advice, Guild Members are always happy to share their experiences to help fellow members create or improve their consultancy.</p>

	<h2><b>Publications</b></h2>

	<p>	The Guild encourages all Members to be active in their respective discipline communities.  This means writing blogs, articles, doing talks, contributing to open source projects, volunteering time to work on projects (paid or unpaid), and more.  But the Guild also recognizes a special rank (discussed below) of those specially suited for these tasks.  Members who are highly skilled in their discipline, and with the skills for public communication, are recognized as able to publish videos, articles, and other media as Guild Masters.  These informational pieces are posted on the Guild website, in press releases, and marketed directly by the Guild.  In doing so, we hope to bring together all of our experiences and knowledge, and disseminate best practices to the masses.  All to better improve our industry.</p>

	<h2><b>Standardization</b></h2>

	<p>	One form of standardization is the ability to work toward best practices and principles as outlined in the Publications section above.  But other forms of standardization are around the rest of a consultant's job, the business.  By working together, finding common issues or common successes, and comparing our collective business experiences, we can streamline the processes through which we do our business.  In working with each other, our collective client base, and the Partnerships discussed above, we can find ways to improve our contracts, our high standards, and even improve our schedules, work ethics, and even pay rates.  It is too common to see consultants come from W2 jobs and be underpaid, overly scheduled, treated or reviewed as employees, and treated differently by the Financial or Government sectors.  But as a unified association, the Guild could standardize things to the benefit of its Members.</p>

	<h2><b>Supporting Causes</b></h2>

	<p>	Though there are many who have opinions or take stances on certain issues.  Some of those issues may be related to our industry, our particular disciplines, or consulting.</p>

	<p>	Through conversations and Guild Votes with the Members, the Guild finds causes and issues to support.  These issues are voted on by the Members, and may include causes such as anti discrimination, fighting poor legislation such as we've seen with SOPA and PIPA, and supporting organizations valuable to the our industry such as Stack Overflow and Wikipedia.</p>
</div>
