<div class="container">
    <div class="content">
        <div class="resources section">
            <div class="title">Guild Resources</div>
            <ul>
                <li routerLink="/glossary">Glossary</li>
                <li>IT Education Accreditation</li>
                <li>Resources for the Public</li>
                <li routerLink="/conduct">Code of Professional Conduct</li>
                <li>Guild Services</li>
                <li>Guild Employment</li>
            </ul>
        </div>
        <div class="guild section">
            <div class="title">The Guild</div>
            <ul>
                <li routerLink="/about">About The Guild</li>
                <li routerLink="/membership">Guild Member Benefits</li>
                <li routerLink="/about">Office of the President</li>
                <li routerLink="/news">Guild Newsroom</li>
                <li routerLink="/login">Join The Guild</li>
            </ul>
        </div>
        <div class="connect section">
            <div class="title">Connect</div>
            <ul>
                <li routerLink="/contactus">Contact Us</li>
                <li routerLink="/login">Member Login</li>
                <li routerLink="/login">Client Login</li>
                <li routerLink="/login">Admin Login</li>
                <li>
                    <mat-icon class="social-icon" svgIcon="facebook"></mat-icon>
                    <mat-icon class="social-icon" svgIcon="twitter"></mat-icon>
                    <mat-icon class="social-icon" svgIcon="linkedin"></mat-icon>
                    <mat-icon class="social-icon" svgIcon="instagram"></mat-icon>
                    <mat-icon class="social-icon" svgIcon="youtube"></mat-icon>
                </li>
            </ul>
        </div>
    </div>
</div>