@import 'src/variables.scss';

.container {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 50px 15%;

    .content {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        max-width: $site-width;

        .section {
            flex: 1;
            white-space: nowrap;
            padding: 20px;

            .title {
                font-size: 1.5rem;
                border-bottom: 1px solid white;
                padding-bottom: 5px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    cursor: pointer;
                    margin-top: 20px;
                    font-size: 1rem;

                    .social-icon {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}