::ng-deep .joinBottomSheet {
  padding: 0;
}

.wizardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.wizardHeaderTitle {
  font-size: 1.3rem;
  font-weight: 600;
}

.wizardWrapper {
  padding-bottom: 16px;
}
