<div class="wizardHeader">
  <div class="wizardHeaderTitle">Join Our Guild!</div>
  <button mat-icon-button color="primary" (click)="closeBottomSheet()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="wizardWrapper">
  <app-signup-wizard></app-signup-wizard>
</div>
