<div style="margin: 20px">

    <h1><b>What is a Jinn</b></h1>
    
    <p>As industries and business leaders interact with IT Professionals, it seems like a hidden world full of mystery.  Different people think and work differently.  That statement holds true in the IT industry, though, as a whole, the people in the IT industry are noticeably skewed from other typical departments in business.</p>

    <p>Let's peel back the mystery and take a look behind the curtain.  Back there you'll find two groups of these mysterious professionals, both whom can fulfill your IT wishes.  First is the Genie, who is a very powerful being in your organization.  The Genie has worked with your company a number of years and has the full trust and respect of people at all levels.  Not only are they a powerful IT Professional, they also have tenure.  But, as in Aladdin, the Genie has shackles.  Every Genie is bound to the mentality of honoring the timelines of their managers, doing what they're told, and keeping job security.  As powerful as a Genie is, it is an inescapable fact that they are an internal employee (or full time "contractor").  Those shackles cause most Genies to cut corners, do just the work to fulfill the wishes and keep their jobs, and they grow tired.</p>

    <p>A Jinn, on the other hand, is a Genie without the shackles.  This is a rogue being who goes from place to place, is difficult to pin down, and who tells companies and managers what to do instead of the opposite.  But a Jinn, as a Guild Member, had qualities a Genie cannot, freedom that has been earned.  Jinns in the Guild are well vetted as professionals with track records of helping companies and leaving them in a good place.  Jinns in the Guild are professional, well-vetted, and good communicators.  We are public speakers, consultants, and engineers.  While a Genie could be any employee, of any title or rank, who gets things done, a Jinn is only those who have many years of experience and have earned the right to call themselves an "Engineering Consultant".</p>
</div>

<div style="margin: 20px">
    <h1><b>What does "Jinn" mean</b></h1>
    
    <p>We all get this feeling that the IT Department(s), the teams performing the SDLC, the Cybersecurity engineers, and similar professionals in our industry seem to have a different feel to them than the Marketing Department, the C-Level team, Sales, Design, Accounting, Shipping, and so on.  We can't really determine why, but the IT departments are frequently isolated and treated differently.</p>

    <p>The IT industry as a whole is adolescent, but it is growing into a fine young industry.  We are at a crossroads where we either go rogue, or nail all (or some) of the industry down as an Engineering discipline.  That is what the Guild is here for, to suggest and champion best practices and principles to drive the IT industry into a place of engineering.</p>

    <p>The mystery of why the IT department(s) seem to exist behind the curtain is not because of magic, though it may seem that way.  It is because the IT department(s) think differently.  Even within the disciplines of the Guild, we all think differently.  But as a whole, IT professionals think more like Engineers and Architects than like sales, shipping, accounting, design, legal, and other departments.</p>

    <p>The Guild is trying to coin the term Jinn in contract to the term Genie.  A company may bring on a number of trusted junior, mid-level, and even a senior or two, technology employees.  For many companies, they take on less experienced workers and hope they grow into the position.  Most employees of a company will do as you (the manager) ask.  Their goal is to make the company happy and keep their job.  The are Genies, here to grant your wishes, but as minimally as possible.</p>

    <p>The Jinn, on the other hand, is an IT professional who has been a Genie for many years; who has grown into a public speaker, educator, and consultant; and who has earned the skills and trust to market themselves as a Senior Engineering Consultant to companies who need such leadership and direction.  Instead of doing what a company says like a Genie, an Employee, or a "Contractor", a Jinn consults with the company and tells them what to do.  Not to say a Jinn can't don a Contracting hat to fulfill the work requirements as well.</p>

    <p>So a Jinn is a Genie without the Shackles.  Think of the end of Aladdin, but more serious and more powerful.</p>
</div>