<div class="header">
  <mat-toolbar class="navbar top-nav">
    <div class="nav-container">
      <div class="menu-icon">
        <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logo" routerLink="/">
        <app-guild-logo logo="owlLogoHorizontal"></app-guild-logo>
      </div>
      <div class="menu">
        <div class="spacer"></div>
        <div class="right-menu">
          <div class="currentUser" *ngIf="user; else signupLink">
            <span class="userName"
              >{{ user.firstName }} {{ user.lastName }}</span
            >
            <a mat-button class="signOutLink" href="#" (click)="signOut()"
              >Not you?</a
            >
          </div>
          <ng-template #signupLink>
            <app-header-menu
              class="header-menu"
              *ngFor="let menuItem of topMenu"
              [menuItem]="menuItem"
            ></app-header-menu>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar class="navbar primary-nav" [@hideShow]="primaryMenuState">
    <div class="nav-container">
      <div class="menu">
        <app-header-menu
          class="header-menu"
          *ngFor="let menuItem of primaryMenu"
          [menuItem]="menuItem"
          color="primary"
        ></app-header-menu>
      </div>
    </div>
  </mat-toolbar>
</div>
<div class="header-spacer"></div>
