@import '/src/variables.scss';

.header-spacer {
  height: 110px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .navbar {
    justify-content: center;
    height: 60px;

    .nav-container {
      display: flex;
      width: 100%;
      max-width: $site-width;

      .spacer {
        flex: 1;
      }

      .menu {
        display: flex;
        align-items: center;
        width: 100%;

        .header-menu {
          flex: 1;
        }
      }
    }
  }

  .top-nav {
    .menu-icon {
      display: none;
    }

    .logo {
      height: 55px;
      cursor: pointer;
    }

    .right-menu {
      flex: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .primary-nav {
    position: relative;
    background-color: $primary;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%);
    z-index: -1;
  }

  .currentUser {
    display: flex;
    gap: 8px;
    align-items: center;

    .signOutLink {
      padding: 0;
    }
  }

  .userName {
    font-size: 14px;
  }
}

@media (max-width: 959px) {
  .navbar {
    padding: 0 10px !important;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%) !important;
  }

  .primary-nav {
    display: none !important;
  }

  .top-nav {
    .menu {
      display: none !important;
    }

    .menu-icon {
      display: unset !important;
      align-self: center;
    }

    .logo {
      margin-left: -40px;
      flex: 1;
    }
  }

  .header-spacer {
    height: 55px;
  }
}
