@import 'src/variables.scss';

.tree {
    background-color: $primary;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    mat-nested-tree-node div[role=group] {
        padding-left: 40px;
        width: 100%;
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.15);
    }

    .mat-tree-node {
        padding-left: 40px;
    }

    .menu-item, .menuHref {
        text-decoration: none;
        cursor: pointer;
        color: white !important;

        &:hover, &.active {
            color: $accent !important;
        }
    }

    .hidden {
        display: none;
    }

    .menuHref, .menuHref:visited, .menuHref:hover, .menuHref:active {
        color: inherit;
    }
}