<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <mat-tree-node
    *matTreeNodeDef="let menuItem"
    matTreeNodeToggle
    class="menu-item"
    [routerLink]="menuItem.route"
    routerLinkActive="active"
    (click)="handleMenuItemClick(menuItem)"
  >
    <span
      ><a *ngIf="menuItem.href" class="menuHref" href="{{ menuItem.href }}">{{
        menuItem.title
      }}</a
      ><span *ngIf="!menuItem.href">{{ menuItem.title }}</span></span
    >
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let menuItem; when: hasChild">
    <div
      class="menu-item parent"
      routerLinkActive="active"
      [routerLink]="menuItem.route"
      (click)="handleMenuItemClick(menuItem)"
    >
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{
            treeControl.isExpanded(menuItem) ? 'expand_more' : 'chevron_right'
          }}
        </mat-icon>
      </button>
      <span
        ><a *ngIf="menuItem.href" class="menuHref" href="{{ menuItem.href }}">{{
          menuItem.title
        }}</a
        ><span *ngIf="!menuItem.href">{{ menuItem.title }}</span></span
      >
    </div>
    <div [class.hidden]="!treeControl.isExpanded(menuItem)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
