<div class="joinWizardForm">
  <div class="submittingContainer" *ngIf="submitting">
    <mat-card>
      <mat-card-content>
        <mat-spinner></mat-spinner>
        <p>Submitting your information, please wait.</p></mat-card-content
      >
    </mat-card>
  </div>
  <div class="joinWizardFormBody">
    <div *ngIf="!completedForm" class="formWrapper">
      <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="contactForm">
          <form [formGroup]="contactForm">
            <ng-template matStepLabel>Fill out your name and email</ng-template>
            <div class="formInputBox">
              <div class="nameFields">
                <mat-form-field appearance="fill">
                  <mat-label>First name</mat-label>
                  <input
                    matInput
                    formControlName="firstName"
                    required
                    maxlength="50"
                  />
                  <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Last name</mat-label>
                  <input
                    matInput
                    formControlName="lastName"
                    required
                    maxlength="50"
                  />
                </mat-form-field>
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="emailAddress"
                  required
                  maxlength="320"
                />
              </mat-form-field>
              <div class="formInputBox">
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    formControlName="phoneNumber"
                    maxlength="25"
                  />
                </mat-form-field>
              </div>
            </div>
            <div>
              <button type="button" mat-button matStepperNext color="primary">
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="interestsForm">
            <ng-template matStepLabel
              >What are some of your interests?</ng-template
            >
            <div class="formInputBox">
              <mat-form-field appearance="fill">
                <mat-label
                  >Please select your interests or discipline</mat-label
                >
                <mat-select
                  matNativeControl
                  placeholder="Interests"
                  [formControl]="interests"
                  [(value)]="selectedInterests"
                  multiple
                >
                  <mat-option
                    *ngFor="let interest of interestList"
                    [value]="interest"
                    >{{ interest }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button
                type="button"
                mat-button
                matStepperPrevious
                color="primary"
              >
                Back
              </button>
              <button type="button" mat-button matStepperNext color="primary">
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="socialMediaForm">
            <ng-template matStepLabel
              >Please link some of your socials</ng-template
            >
            <div class="formInputBox">
              <mat-form-field appearance="fill">
                <mat-label>LinkedIn</mat-label>
                <input
                  matInput
                  formControlName="linkedInProfile"
                  maxlength="100"
                />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>GitHub</mat-label>
                <input
                  matInput
                  formControlName="githubProfile"
                  maxlength="100"
                />
              </mat-form-field>
            </div>
            <div>
              <button
                type="button"
                mat-button
                matStepperPrevious
                color="primary"
              >
                Back
              </button>
              <button type="button" mat-button matStepperNext color="primary">
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="sourceForm">
            <ng-template matStepLabel>Where did you hear from us?</ng-template>
            <div class="formInputBox">
              <mat-form-field appearance="fill">
                <mat-label>Where</mat-label>
                <mat-select
                  placeholder="Where"
                  formControlName="source"
                  required
                >
                  <mat-option *ngFor="let place of placeList" [value]="place">{{
                    place
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="sourceForm.get('source')?.value === 'Other'">
                <mat-form-field appearance="fill">
                  <mat-label>Description</mat-label>
                  <input
                    matInput
                    formControlName="sourceOther"
                    ngModel
                    required
                    maxlength="255"
                  />
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <div class="codeOfConductSection">
        <mat-checkbox [(ngModel)]="readCodeOfConduct" color="primary">
          Read
          <a class="codeOfConductLink" href="/conduct" target="_blank">
            Code of conduct</a
          >
        </mat-checkbox>
      </div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="!wizardForm.valid || !readCodeOfConduct"
        (click)="join()"
      >
        Join
      </button>
    </div>
    <div class="completeForm" *ngIf="successfulSubmission">
      <img alt="complete" src="/assets/images/success.png" />
      <div class="completeFormMessageSection">
        <h2>Thank you for joining!</h2>
        <p>Our staff will contact you in the future.</p>
      </div>
    </div>
    <div class="completeForm" *ngIf="errorSubmission">
      <img alt="error" src="/assets/images/error.png" />
      <div class="completeFormMessageSection">
        <h2>An error occurred while signing you up</h2>
        <p>Please try again later.</p>
      </div>
    </div>
  </div>
</div>
