.joinWizardForm {
  position: relative;
}

.joinWizardFormBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 16px 16px 16px;

  mat-stepper {
    width: 100%;
  }
  ::ng-deep .mat-step-header {
    padding: 24px 0;
  }
  ::ng-deep .mat-vertical-content-container {
    margin-left: 12px;
  }
  form {
    width: 100%;
  }
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

.formInputBox {
  display: flex;
  flex-direction: column;
}

.socialsIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.nameFields {
  display: flex;
  gap: 8px;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
    gap: 0;
  }
}

.completeForm {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;

  h2 {
    margin: 0;
    padding: 0;
  }

  img {
    width: 200px;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      width: 164px;
    }
  }

  .completeFormMessageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
  }
}

.codeOfConductSection {
  margin: 12px 0;
}

.codeOfConductLink {
  color: #000;
}

.formWrapper {
  width: 100%;
}

.submittingContainer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);

  .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
