<div style="margin:20px;">
	<h2><b>Disciplines of the Guild</b></h2>

	<p>This is a list of the current disciplines of the Guild, much like the different fields of law, or the different categories of electricians.  The Bylaws of the Guild specify the rules for board members of each discipline.  The board members decide on the criteria, and task forces carry out the actions necessary to verify new members.  These are all categories of positions in the industry of Information Technology.</p>

	<p>These divisions and definitions are in flux during the early phases of the Guild, and are open to discussion for interpretation and refinement.</p>
	
	<ol type="1" style="font-weight:bold; font-size:1.35em; margin-left:-20px;">
		<li *ngFor="let discipline of disciplines">
			{{discipline.Title}}<br/>
			<span style="font-size:0.75em; margin-left:20px; font-weight:500">{{discipline.Examples}}</span><br /><br />
			<p style="font-weight:normal; font-size:.8em; text-indent:20px;">{{discipline.Description}}</p>
			<br />
		</li>
	</ol>

</div>