@import '/src/variables.scss';

.home {
    padding: 50px 0;

    .top {
        position: relative;
        padding-top: 100px;
        
        &::before {    
            content: "";
            background-image: url(/assets/images/software.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.3;
        }
    }

    .transparent-block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        min-height: 400px;
        color: white;

        .spacer {
            width: 10%;
            height: 50px;
        }
        
        & > .section {
            flex: 1;
            display: flex;
            flex-direction: column;
            z-index: 1;
            padding: 3% 5%;

            .title {
                font-size: 3rem;
                line-height: 3rem;
            }

            .content {
                flex: 1;
                margin-top: 20px;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .buttons {
                margin-top: 40px; 

                button {
                    height: 50px;    
                    font-size: 1.5rem;
                    line-height: 3rem;
                    color: $primary;
                }
            }

            &.left .title p {
                margin-left: 40px;
                font-size: 2.5rem;
            }

            &.right .buttons button {
                float: right;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $primary;
            opacity: 1;
            mix-blend-mode: multiply;
        }
    }
}

@media(max-width: 959px) {
    .transparent-block {
        flex-direction: column;
    }
}

@media(max-width: 650px) {
    .home {
        padding: 0px !important;
 
        .top {
            padding-top: 0px !important;
        }
    }
}

@media(max-width: 500px) {
    .buttons {
        align-self: center;

        button {
            float: unset !important;
        }
    }
}