<div class="home">
  <div class="top">
    <div class="transparent-block">
      <div class="left section">
        <span class="title"
          ><b>The Guild</b>
          <p>for IT Professionals</p></span
        >
        <div *ngIf="user">
          <div class="content">
            <div>
              Welcome back {{ user.firstName }}! We're honored to have you in
              our ranks. Enjoy the benefits and camaraderie of our community.
            </div>
          </div>
        </div>
        <div *ngIf="!user">
          <div class="content">
            <div>
              Have what it takes to be a Guild Member? Apply now and connect
              with fellow masters of the trade and earn the benefits you
              deserve.
            </div>
          </div>
          <div class="buttons">
            <button mat-raised-button (click)="onJoinClick()">Join Now</button>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="right section">
        <span class="title"><p>Looking for Professionals?</p></span>
        <div class="content">
          <div>
            Join as a Client or Prospective Client to gain access to
            well-connected professionals who have been through our vigorous
            vetting process.
          </div>
        </div>
        <div class="buttons">
          <button mat-raised-button color="accent" routerLink="membership">
            View our Constitution
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 20px">
  <h1><b>Volunteers and Professionals</b></h1>

  <p>
    We need professionals to both Join and Help the Guild. Mainly for Web Design
    and Frontend Development to enhance this website. Contact Steven Fletcher
    (@Fletch) in Slack (slack.techlahoma.org) to talk about how you can help.
  </p>
</div>

<div style="margin: 20px">
  <h1><b>NPO-esque</b></h1>

  <p>
    The Guild is NPO-esque. That means, while we are not registered as a
    non-profit, we do not plan to have shareholder income or profit. Any money
    that comes in will also go out for an intended purpose. For example, a
    membership fee will come in, then be paid to the professionals who do the
    vetting.
  </p>
  <p>
    Even when there is an inflow of money into The Guild, perhaps from a
    conference or donation, that money will be used to support the Guild, or to
    support causes the Guild has agreed to support, like Stack Overflow. The
    money will never be paid out to "shareholders".
  </p>
</div>

<div style="margin: 20px">
  <h1><b>Upcoming Events</b></h1>

  <p>Follow our Guild Masters on Meetup, YouTube, and Twitch.</p>
</div>
