@import 'src/variables.scss';

.menu-item, .menuHref {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: .9rem;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;

    &.primary {
        color: white;
    }
    
    &.active, &:hover {
        & > span {
            color: $accent !important;
        }
    }
}

.menuHref, .menuHref:visited, .menuHref:hover, .menuHref:active {
    color: inherit;
}

mat-icon {
    font-size: 1.8rem !important;
    margin:auto;
}

.menu-item:hover > .sub-menu, .menuHref:hover > .sub-menu {
    display: block !important;
}

.sub-menu {
    position: absolute;
    display: none;
    top: 50px;
    padding: 0 20px;

    &.primary {
        background-color: $primary;
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.15), 5px 10px 20px rgb(0 0 0 / 25%);
    }

    .menu-item, .menuHref {
        justify-content: left;
        padding: 5px 0;
    }
}

.triangle {
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    border: 10px solid transparent;
    border-top: 0;

    &.primary {
        border-bottom: 10px solid rgba(white, 0.15);
    }
}