<ng-template #linkless>
  <div
    *ngIf="!menuItem.icon; else menuIcon"
    class="menu-item"
    [class.primary]="color"
    (click)="handleMenuItemClick(menuItem)"
  >
    <span
      ><a>{{ menuItem.title }}</a></span
    >
  </div>
</ng-template>

<ng-template #menuIcon>
  <mat-icon *ngIf="menuItem.icon" class="menu-item">{{
    menuItem.icon
  }}</mat-icon>
</ng-template>

<ng-container
  *ngIf="menuItem.submenu || menuItem.href || menuItem.route; else linkless"
>
  <ng-container *ngIf="!menuItem.submenu; else withSubMenu">
    <div
      *ngIf="!menuItem.icon; else menuIcon"
      class="menu-item"
      [class.primary]="color"
      [routerLink]="menuItem.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="handleMenuItemClick(menuItem)"
    >
      <span
        ><a *ngIf="menuItem.href" class="menuHref" href="{{ menuItem.href }}">{{
          menuItem.title
        }}</a
        ><span *ngIf="!menuItem.href">{{ menuItem.title }}</span></span
      >
    </div>
  </ng-container>
  <ng-template #withSubMenu>
    <div
      class="menu-item"
      [class.primary]="color"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="handleMenuItemClick(menuItem)"
    >
      <span
        ><a *ngIf="menuItem.href" class="menuHref" href="{{ menuItem.href }}">{{
          menuItem.title
        }}</a
        ><span *ngIf="!menuItem.href">{{ menuItem.title }}</span></span
      >
      <div class="sub-menu" [class.primary]="color">
        <div class="triangle" [class.primary]="color"></div>
        <app-header-menu
          class="header-menu"
          *ngFor="let subMenuItem of menuItem.submenu"
          [menuItem]="subMenuItem"
          [color]="color"
        ></app-header-menu>
      </div>
    </div>
  </ng-template>
</ng-container>
