<app-header (sidenavToggle)="sidenav.toggle()"></app-header>


<mat-sidenav-container>
    <mat-sidenav #sidenav fixedInViewport="true" mode="push" fixedTopGap="55">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet (deactivate)="onDeactivate()"></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>