<div style="margin:20px;">
	<h2><b>Join and/or Login</b></h2>

	<p>Whether you are an existing or prospective Guild Member, or Client, this is where you will log in to perform the actions we have spoken about.  While we are wiring up our APIs and setting up our network security, this page will remain empty.  Feel free to contact a Guild Member in <a href="https://slack.techlahoma.org/">Techlahoma's Slack</a>.  @Fletch, @Guild, or others.</p>

</div>