<div class="wizardHeader">
  <div class="wizardHeaderTitle">Join Our Guild!</div>
  <button mat-icon-button color="primary" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<app-signup-wizard></app-signup-wizard>
