<div style="margin:20px;">
	<h1><b>Guild Constitution</b></h1>

	<p>The Guild is an association of Information Technology consultants with the professional, technical, and personal skills to be able to consult to an array of audiences.  At its core, consulting is educating, which is why many in our profession enjoy speaking at conferences, schools, or to other Information Technology teams and businesses.</p>

	<h2><b>Vision Overview</b></h2>

	<p>To view our Vision, visit the <a routerLink="/about">About Us</a> page</p>

	<h2><b>Given Benefits</b></h2>
	<ol>
		<li>Members are given access to the Guild Community.  This includes all communication mediums such as Slack, Discord, Twitch, and more.  Some of the community is public, but Members would retain more rights in those public channels.</li>

		<li>Members are given access to subscribe to Guild Newsletters, Publications and Free Member-Only Events such as some live streams.</li>
		
		<li>All Members are given the right to represent themselves as Guild Members in published marketing, articles, blogs, speaking engagements, and more by giving their membership ID, discipline, and rank to their audiences.</li>
	</ol>

	<h2><b>Earned Benefits</b></h2>

	<ol>
		<li>By being accepted as a Member, you are given a rank within each discipline you're verified in.  Rank determinations are overseen by the committees or task forces of whichever discipline(s) you were verified to be part of, such as the Quality Assurance discipline or the Software Engineering discipline.  Ranks fall into four categories, though each discipline may have different titles:
			<ol type="a">
				<li>To view details, visit the <a routerLink="/ranks">Ranks</a> page</li>
			</ol>
		</li>
		<li>Depending on your rank, you may earn specific benefits within the Guild Community.  These include:
			<ol type="a">
				<li>Speaking fees and payment for publications and other material contributions.</li>
				<li>Moderation or Superuser access on one or more of our communication platforms, within specific disciplines.</li>
				<li>The ability to apply for board positions or task forces, which are voted on by Guild Members.</li>
				<li>More to come.</li>
			</ol>
		</li>
		<li>Changing Rank requires ongoing verification of time using the skills of the discipline(s) a Member is in, as well as ongoing peer reviews and feedback from registered Clients.</li>
	</ol>

	<h2><b>Paid Benefits</b></h2>
	<ol>
		<li>Members are given access to purchase at-cost tickets to Guild events held in cities around the United States, which would include Guild Masters, as well as popular honorary speakers in the fields of the Guild's Disciplines.</li>

		<li>Members are given access to the Guild's Health Care pool, which is more attractive than the plain Healthcare Marketplace, and less coupling than tying yourself to healthcare of an Employer or Recruiting agency.</li>

		<li>Members are able to access merchandise shops for members only, such as premium branded clothing, logos, license plate frames, PCs and Hardware, and more.</li>
	</ol>

	<h2><b>Benefits of Verification</b></h2>

	<p>Going through any verification process is work, much like interviewing, filling out RFPs, licensing, and all the other Not-Fun stuff.  Keep in mind this is work which discipline task force members have to do for every single member, and you only have to go through it once.  But there are benefits to it!</p>

	<ol>
		<li>The Guild requires an initial internal background check.  But the Guild also allows members to opt-in to official Background Checks and Drug Screenings, for which they will receive a particular badge or certification of having done so.  Clients who choose to interact with Guild Members can use Guild Membership as a quality indicator and should not require their own screenings.  No client should ever require a Background Check or Drug Screening of a vetted, licensed Consultant.  Let alone a Guild Member.</li>

		<li>Prospective Clients frequently need to see a resume.  But the Guild doesn't believe in resumes.  Instead, the Guild offers you a profile page much like LinkedIn, which you can customize.  Unlike a resume, which is based on dates of employment with companies, this profile page is based on projects, certifications, licenses, and experiences.  These aspects are reviewed by the Guild, including calling references.  The Guild will never do anything to embarrass a Member, so all reference discussions will be discussed with the Member afterward to ensure agreement or removal of details.  This means prospective clients don't need to do this follow up and can trust the Guild has already.</li>

		<li>Verification does take time and energy, but this isn't just for the Member.  Knowing that fellow members have also been through verification means you can trust that the other members you are working with are also qualified and verified individuals who have had reference and background checks.  This makes the quality of the community discussions that much more valuable.</li>
	</ol>

	<h2><b>What else the Guild does</b></h2>
	<ol>
		<li><b>Disciplines of the Guild:</b> Visit the <a routerLink="/disciplines">Guild Groups</a> page
		</li>
		<li><b>Guild Mediation:</b> The guild provides protections and mediation against poaching clients and/or employees from each other (and from each others' clients).  Since one of the benefits of the Guild include our platforms and tools to interact with one another, the Guild is technically also providing the means through which poaching is simplified.  If you want to read the protections and mediation the Guild provides, read our Membership Agreement by clicking here.</li>

		<li><b>Third party relationships:</b> Guild members, being consultants, have a wide variety of CPAs, Legal counsel, Fiduciaries, Tax Professionals, Business Administrators, and more.  As the Guild grows, the Guild may create relationships with those businesses that our Members verify are doing well.  In doing so, becoming a Member means gaining access to a wide knowledge base of partnerships you might make, and perhaps even with special promotion.</li>

		<li><b>Transition to Consulting:</b> It is expected that many potential Guild Members will be coming from W2 positions.  Apart from Fellow Members being helpful to one another, the Guild itself standardizes details such as contract verbiage, tax expectations, a standard expected “minimum wage” for each rank and discipline, and more.</li>

		<li><b>World Influence:</b> Through conversations and Guild Votes with the Members, the Guild finds causes and issues to support.  These issues are voted on by the Members, and may include causes such as anti discrimination, fighting poor legislation such as we've seen with SOPA and PIPA, and supporting our sibling communities such as Stack Overflow and Wikipedia.  We do not exist to perform “Lobbying”, though we will happily support organizations our Guild Members care about related to our industry.  Those organizations are 100% controlled by member vote.</li>
	</ol>

	<h2><b>Expectations we have of our Guild Members</b></h2>

	<p>Guild Members are expected to adhere to a set of high standards.  As discussed earlier, one expectation is to complete the verification process to simply become a member.  Once verified, there are a few other expectations.</p>

	<ol>
		<li>Guild Members are expected to treat all of their Clients, even clients contracted with outside of Guild Registration, with the same respect, principles and provisions as outlined in our Membership Agreement.</li>

		<li>Guild Members are expected to maintain a professional atmosphere and presentation of themselves.  That applies to in person meetings and digital meetings.  When presenting digitally, Members are expected to maintain a working camera and microphone.</li>

		<li>In any publication, or video or audio stream, Members must maintain a professional demeanor and content delivery.  Avoid any actions or words that promote violence, hate, discrimination, sex, drugs (non-prescription), and similar categories of non-professional ideas.  Note that the Guild does not promote any political party or religion, and also that non-Board Members do not speak for the Guild or its ideals or mission.</li>

		<li>Be active in the communities of your respective discipline(s) including, but not limited to, participating in Guild Votes, leading conversations in Guild approved chat applications like Slack, online forums like Stack Overflow or LinkedIn, blogs, vlogs, streaming services like YouTube and Twitch, and conferences like Local Meetups or Tech Conferences.</li>

		<li>Any client relationship where your client knows you are a Guild Member must be registered with the Guild.  The Guild also requests that all of your previously external client relationships are registered.  This protects you and helps the Guild enforce and mediate non-solicitation between Guild Members.  These relationships are otherwise confidential between you, your client, and Guild Mediators.</li>

		<li>For any registered client relationships, Members are expected to notify the Guild when a contract is terminated for any reason, including simply due to the term ending.</li>
	</ol>

	<h2><b>Guild Membership Dues</b></h2>

	<p>Beyond the verification required to become a Member, there are specific dues to maintain membership.  The Guild does not use the dues as a source of shareholder income, and uses 100% of the dues revenue to support the Guild, its staff, its speakers, and its Members.  At the end of each calendar year, dues may be altered based on the prior year uses and the next two years projections.</p>

	<ol>
		<li>Registration fee:  This helps support the time and cost of the verification of becoming a member, including client history and peer review.  This is a one time cost of $150.</li>

		<li>After the Registration fee, annual dues may vary.  The dues are determined by each discipline.  As a general template, the annual fees for each discipline you apply to would look like this:
			<ul>
				<li>Rank 1 (Apprentice) - First year Free, $20/yr after, maximum ~4 years.</li>
				<li>Rank 2 (Professional) - $75/yr</li>
				<li>Rank 3 (Expert) - $125/yr</li>
				<li>Rank 4 (Master) - $160/yr</li>
				<li>Honorary/Lifetime - No Charge</li>
			</ul>
		</li>
		<li>Waive the dues: As an early member, your annual dues would be waived if:
			<ul>
				<li>You are verified as a Member to begin with, and</li>
				<li>You volunteer your skills for the continued development of the Guild.  Not for any particular fellow member or Client, but directly for the development of the Guild.  We realize our Member's skills are far more valuable than a measly annual fee.</li>
			</ul>
		</li>
	</ol>

	<h2><b>Removal from The Guild</b></h2>

	<p>Because The Guild becomes a place where people rely on the community, the healthcare, and representing their good name to current and prospective employers; It is important to understand that being removed from The Guild could have adverse effects on people's lives.  So we do not take it lightly.  Removal from The Guild is never determined by the opinions or input from a Guild Member, or even a Board Member.</p>

	<p>The main reason a person would no longer be a Guild Member is if they left voluntarily, or were removed because they stopped meeting the requirements of Dues payments or something similar.</p>

	<p>As a Guild Member, you have been vetted by the input of your prior clients and employers.  That feedback is very important.  If they had all had nothing but negative comments, you almost certainly wouldn't be a member.  Then again, if you have become a member, but over the course of years every client or employer since then has done nothing but call the guild with complaints, the Guild Board may discuss with the Member to determine the weight of those complaints.  We would do our absolute best to determine if it is only that one client or person's opinion, and try to find that every other reference agrees that you are an upstanding member.  One or two bad client complaints do not determine who you are, or your worth as a Guild Member.</p>

	<p>As a member of society, we all follow the same laws and regulations.  If some legal action has occurred which puts the Guild at risk of associating with a person, then the Judges, Lawyers, and Juries of those results are essentially the determining factor for Guild Membership.  Legal judgements such as traffic citations and such would have no bearing alone.  But legal judgements for certain offenses, such as predatory behavior, violence, and felonies related to the values and bylaws of the Guild, will carry a strong weight on membership.</p>

	<h2><b>Conflict of Interest (COI Policy)</b></h2>

	<ol>
		<li><b>Regarding Benefits:</b> All Rank 2, 3, and 4 members have full access to all benefits and voting rights.  Rank 1 and Honorary members will have limited access to benefits, and do not have access to internal business discussions or Voting.  Lifetime members are the same as Honorary, but may maintain access to internal discussions, though not voting.</li>

		<li><b>Regarding Clients:</b> No member is ever assigned a Client.  The Guild is not a recruiting firm nor a "shop".  The Guild will never accept income or gifts from businesses for any sort of priority filtering or sorting when finding a Guild Member to work with.  If a Client wishes to request help from an active Member of the Guild, the Guild has ways of facilitating those connections, but only by presenting the opportunity of those relationships to all applicable Guild Members.  For example: If a company wishes to submit an RFP for UI Design, every Guild Member within the discipline for UI Design will receive that RFP (unless they opt out).  Guild Members may coordinate amongst themselves or submit individual proposals to the prospective Client.  The Guild will never state preference of one Member over another to any Client, other than the obvious expectation of the Member's Discipline and Rank therein.</li>

		<li><b>Regarding Officers:</b> (Hereafter including Board Members and other “management” types in the Guild).  Officers are excluded from notifications of RFPs from prospective clients.  An Officer may opt to step down from their position in order to pursue RFP opportunities, and must be re-voted back in to return.  Any Officer who attains a Client contract through the Guild by way of connections to a non-Officer-Member or other workaround will be removed from their position, and possibly from the Guild.  Though investigation may be warranted if the Officer achieved the contract through legitimate means outside of the Guild RFP system.  This rule may be overlooked during periods where the ratio between Officers and Non-Officer members is too narrow.</li>

		<li><b>Regarding Internal Work:</b> Some of the internal work required for the Guild may be farmed from volunteers within the Guild.  Paying work will always only be at reasonable rates for reasonable work related to advancing the Guild.  The Guild does not sell services or products, so all work related to advancing the Guild is related to measurable time and effort developing our web systems and other applications related to managing members, conferences, client relationships, and so on.  Paying work will appropriate funds from the Guild Membership Fees, and will be audited as being fair pay for equal time and effort.</li>

		<li><b>Regarding Employment:</b> The Guild plans to have all possible work performed by Guild Members as stated in section 4 above.  But some work, such as marketing, administrative, or other fields outside our disciplines, require additional help.  Some of this help may be paid to external companies, and some may require Employees be brought on.  This work will appropriate funds from the Guild Membership Fees, and will be audited as being fair pay for equal time and effort.</li>

		<li><b>Regarding Conferences:</b> The Guild may financially support conferences for which the Guild has voted.  This could be local meetups, workshops, seminars, or any other remote or in-person gathering of people.  Similarly, the Guild may support its own Members in performing meetups and conferences.  Lastly, the Guild may create its own Conferences that are mainly funded by the Guild, and where admissions benefit the Guild.  Conferences the Guild supports must fall within the Disciplines of the Guild, and attendees must be expected to be professionals who could theoretically be Guild Members, whether they are or not.</li>
	</ol>

	<h2><b>Vetting, Reference, and Background Checking</b></h2>

	<p>Each discipline of The Guild may set its own standards for vetting the skills of a candidate in a Peer Review process.  This may include some kind of testing, but may instead (or additionally) include a review of publications, recordings, or public speaking events.  This may also include testimony of prior clients about a candidate's skills.</p>

	<p>While joining a discipline is required to be a Guild Member, a candidate must also be vetted beyond the skills within a discipline.  A candidate's trustworthiness, communication skills, soft skills, and overall reputation will help determine their vetting to join the Guild.</p>

	<p>Guild Background Checking means a task force of members from the requested discipline will take the time to call references, prior clients and employers, and other professional contacts.  We will ask basic questions about their experiences with a candidate, whether they would recommend the candidate work for other businesses, and similar questions.</p>

	<p>Third party accredited Background Checks and Drug Screenings are optional, though suggested.  Having these set up through the Guild instead of privately or per-client allows a Guild member to produce a badge or certificate to prospective clients.  This certification is in a centralized location so it can be produced to any client who requires them.  If no clients require them, it may not be worth maintaining such certification.</p>
</div>