<div style="margin:20px;">
	<h2><b>Contact Us</b></h2>

	<p>As the Guild website spins up in these first few weeks, we are wiring up our APIs and backend sources.  Between now and then, feel free to reach out to a Guild Member in <a href="https://slack.techlahoma.org/">Techlahoma's Slack</a>.  @Fletch or @Guild</p>

</div>