<div style="margin:20px;">

	<h2><b>Glossary</b></h2>

	<ul style="margin-top:10px;">
		<li><b>Ranks</b> - You can view more about Ranks on the <a routerLink="/ranks">Ranks page</a></li>

		<li><b>Disciplines</b> - You can view more about Disciplines on the <a routerLink="/disciplines">Disciplines page</a></li>
		
		<li><b>Coding</b> - A Code is information that is easier to read by a particular party, forsaking other parties.  In this case, information that is easier for a computer to interpret.  Coding is a process in which a human converts non-coded information into codes that permit computer interpretation.</li>

		<li><b>Programming</b> - A program is more than one code, and part of a series of related instructions, written in a Programming Language, to be interpreted by a computer as instructions.  Programming is the act of using a Programming Language to write a series of related codes that the computer can use as instructions.</li>

		<li><b>Development</b> - In general, this means taking ideas and plans, and making changes such that the plans evolve and grow from stage to stage.</li>

		<li><b>Software Development</b> - The act of taking engineered plans, and programming such that the software grows from stage to stage.</li>

		<li><b>Engineering</b> - The planning of complex products by using foundational principles heavily weighed with the Scientific and Mathematical principles and proofs of each specific field.</li>

		<li><b>Software Engineering</b> - Planning the development of a program by understanding the Scientific and Mathematical Principles of Software Engineering.  e.g.: Liskov Substitution Principle, Persistence Ignorance, Bounded Context, etc.</li>

		<li><b>Architecture</b> - The planning of meta products by using foundational principles heavily weighed with the Scientific and Mathematical principles and proofs of each specific field.  An Architect is frequently also an Engineer of the same field.</li>

		<li><b>Software Architecture</b> - The act of designing the software's reference architecture, abstractions, templates, patterns, and plans necessary for a Software Engineer or Software Developer to do their work.  A Software Architect is also a Software Engineer, though they should only wear one hat at a time.</li>

		<li><b>Design</b> - This is an overloaded term to simply describe the act of arranging items, systems, processes, and ideas in a way that makes the observation or consumption of those things more appealing or efficient.  This is considered an art in that it majorly takes human senses into account.</li>

		<li><b>Software Design</b> - This is one action taken by Software Engineers and Architects to increase code readability and efficiency, and is typically not a term used on its own, but in the context of one of those two other fields.</li>

		<li><b>UI Design</b> - This is the artistic act of planning and creating the visual aspects of a User Interface.  It typically includes iconography, trademarks, hero art, color schemes, and more.  A UI Designer may also be a Software Developer, though they should only wear one hat at a time.  Software Design of the UI is different from the Artistic Design of the UI.</li>

		<li><b>UX Design</b> - This is the artistic and technical act of performing UI Design while also considering the emotional state of a human.  This also includes the processes for which the user’s actions are recorded and reported in order to derive the reasoning behind their actions.  This is different from UI Design in that it is typically less artistic and more technical.  A UX Designer may also be a UI Designer, though they should only wear one hat at a time.</li>

		<li><b>Process Design</b> - Every position within a business has its own processes, and the adapters it uses to connect its own processes to those of adjacent positions or organizational units.  They are not all defined here, suffice it to say: the planning required to document and design the processes of any unit can be a type of engineering itself.</li>

		<li><b>Quality Control</b> - This is a generic term to mean the quality of a product has elevated importance.  Some companies and products focus on throughput while others focus on quality.  Each for possibly valid reasons.</li>

		<li><b>Quality Assurance</b> - This is the act of testing a product at a given point in the development lifecycle.  Most frequently, quality control is focused at the latest part in the product development lifecycle, which means a Quality Assurance process focuses on testing a nearly complete product prior to that product being delivered.  But a QA process may exist to test at multiple stages in the development lifecycle.</li>

		<li><b>Quality Engineering</b> - If you think of the development lifecycle as a graph from start to finish (or left to right), a Quality Engineer creates, champions, and manages processes which pull a QA professional from purely testing at the end (right side) of the life cycle, and shifting them to (also) test in areas further to the left.  A Quality Engineer will expose the need for different types of testing beyond the QA gatekeepers, such as automated regression testing and positions such as SDETs required for these requirements.  Quality Engineers also champion Continuous Integration and Delivery/Deployment, and the position(s) required to accomplish those.</li>

		<li><b>SDET (Software Development/Engineering for Testing)</b> - The act of coding, programming, or developing automated regression testing systems to perform the steps necessary to test a software system.  Sometimes this only requires input of data points (coding), sometimes a bit of programming, and sometimes a more advanced system requires more advanced development.</li>

		<li><b>More to come</b> - More to come, open to input.  Infrastructure, Cybersecurity, etc.  Essentially other disciplines listed in the Guild documentation.</li>
	</ul>
</div>