<div style="margin:20px;">

    <h1>Code of Conduct for The Guild</h1>
    <p>The Guild is committed to providing a welcoming and inclusive environment for all members and potential members. We strive to create an atmosphere of continuous education, professional growth, and mutual respect among our members.</p>
    
    <ul>
        <li><b>Honesty and Integrity</b>
        <ul><li>We expect all members to act with honesty and integrity in all of their interactions with other members and in all activities related to The Guild. This includes being truthful, transparent, and ethical in all of your actions.</li></ul></li>
        <li><b>Respect and Consideration</b>
        <ul><li>We value and respect all members of The Guild, regardless of their gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, or technology choices. We expect all members to show consideration and respect towards one another, both online and offline.</li></ul></li>
        <li><b>Inclusivity and Diversity</b>
        <ul><li>The Guild is committed to promoting inclusivity and diversity within the IT community. We welcome members from all backgrounds and cultures and do not tolerate discrimination or harassment in any form.</li></ul></li>
        <li><b>Continuous Education and Growth</b>
        <ul><li>The Guild aims to be a hub for technical discussions, best practices, principles, and processes. We encourage our members to continually educate themselves and strive for personal and professional growth.</li></ul></li>
        <li><b>Communication and Learning</b>
        <ul><li>We encourage open and honest communication among members of The Guild. We believe in the value of sharing knowledge and learning from one another.</li></ul></li>
        <li><b>Zero-Tolerance Policy for Hate Speech</b>
        <ul><li>The Guild has a zero-tolerance policy for hate speech, which includes but is not limited to derogatory language, personal attacks, and discriminatory behavior. Any instances of hate speech will be addressed promptly and may result in the expulsion of the offending member.</li></ul></li>
    </ul>

    <h2>Enforcement</h2>
    <p>The Guild will enforce this code of conduct fairly and impartially. Any member who violates this code of conduct may be subject to disciplinary action, including but not limited to revocation of membership.</p>
    
    <h2>Conclusion</h2>
    <p>The Guild is committed to creating a safe and welcoming environment for all members. We encourage our members to embrace the values of honesty, integrity, respect, consideration, inclusivity, education, growth, communication, and learning, and to promote these values in all of their interactions with other members and the broader IT community.</p>

</div>