@import 'src/variables.scss';

#guild {
    fill: $primary;
    filter: drop-shadow(0 0 5px rgba(darkgoldenrod,.9));
    stroke: $primary;
    stroke-width: 2;
}

#association {
    fill: darkgoldenrod;
}

#owl_head {
    fill: $primary;
    filter: drop-shadow(0 0 5px rgba(darkgoldenrod,.9));
}

#owl_beak {
    fill: darkgoldenrod;
}

#owl_eyes {
    fill: rgba(black,.7);
    filter: drop-shadow(0 3px 5px rgba(darkgoldenrod,.9)); 
}