// Import material theming functions
@import '~@angular/material/theming';

$mat-primary: (
  main: #197b80,
  lighter: #bad7d9,
  darker: #0e5e63,
  200: #197b80, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
    main: #b1cec0,
    lighter: #e8f0ec,
    darker: #98bcaa,
    200: #b1cec0, // For slide toggle,
    contrast : (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    )
  );
  $theme-accent: mat-palette($mat-accent, main, lighter, darker);
   
  $mat-warn: (
    main: #ff5f5f,
    lighter: #ffcfcf,
    darker: #ff4343,
    200: #ff5f5f, // For slide toggle,
    contrast : (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    )
  );
  $theme-warn: mat-palette($mat-warn, main, lighter, darker);


// Create your Sass color vars (will be available in all the project)
$primary: mat-color($theme-primary);
$accent: mat-color($theme-accent);
$warn: mat-color($theme-warn);

$site-width: 1280px;