<div style="margin:20px;">

	<h2><b>Ranks</b></h2>

	<p>By being accepted as a Member, you are given a rank within each discipline you're vetted in.  Rank determinations are overseen by the committees or task forces of those discipline(s) where a Member passed vetting, such as the Quality Engineering discipline or the Software Engineering discipline.  Ranks fall into four categories, though each discipline may have different titles:</p>

	<ol type="a" style="margin-top:10px;">
		<li><b>Rank 1 (Apprentice)</b> - This means the Member has little to no production experience in the discipline, and is actively pursuing education with mentors or institutions approved by the Guild.  To qualify as an Apprentice, you must have a letter of sponsorship from a Guild Master, Expert, an approved College Professor, or some other person approved as a long-term “Mentor”.  Most disciplines will require that you either have one year of experience working in the discipline (or an adjacent discipline), or one year of recent formal education.  Required time spent in education and training, and gaps between learning periods, is evaluated per discipline.
			<ol type="i">
				<li>Apprentices are a special discipline rank who don't yet have the right to produce content (blogs/talks/etc) for that discipline or vote on discipline policies, though their voice is always welcome on any subject in any forum.</li>
				<li>Existing Members may appoint themselves as an Apprentice rank in as many other disciplines equal to the number of disciplines they hold Rank 2 or higher in, irrespective of any collegiate or professional recommendation letters.</li>
				<li>Apprentice membership in a discipline has a maximum length of 5 years, or less based on discipline policy, and will be barred from membership in that discipline as an Apprentice.</li>
			</ol>
		</li>

		<li>Journey Level - This is a traditional rank in many industries (Journeyman or Journeywoman) where an Apprentice journeys out on their own and works on their profession in multiple environments before returning home to hone their craft and their experiences.  This is typically a 5 year journey, but can take a bit less or a lot more depending on the discipline and person.  Journey Level professionals are the majority of the world, and too broad a topic to be narrowed into a rank of The Guild.</li>
		
		<li><b>Rank 2 (Professional)</b> - This rank, and higher ranks, are Engineers in their discipline. This Member has multiple years of production experience in roles related to the discipline (usually > 5) without large gaps, requires little to no supervision, and is actively involved in a role related to the discipline.  This is an early Engineering professional who has grown beyond simple development and begins to focus on principles.  This is the first rank with full voting rights, and the right to produce content (blogs/talks/etc) while stating they are a Guild Member, Rank 2 (Professional).</li>
		
		<li><b>Rank 3 (Expert)</b> - This Member has a high number of years of experience (usually > 10) in roles related to the discipline without large gaps, and they are considered a leader within their clients or communities.  Once achieved, and with at least 3 years of membership in The Guild, this position is tenured, meaning it would be very difficult for a single client review to negatively affect their membership. This member can serve on Guild Boards and Task Forces.  This Rank is expected to know all engineering principles of their discipline, and focus on Architecture and Engineering more than Development.</li>
		
		<li><b>Rank 4 (Master)</b> - This member is a tenured Expert, and engages in guild-approved speaking arrangements or creates guild and peer reviewed publications.  A Guild Master is allowed to sponsor up to five apprentices, and is expected to regularly contribute to publications and/or speaking engagements.  A Master performs the work of an Expert, with the additional expectation of growing the Guild and its communities.</li>
		
		<li>Honorary - This is not a numbered rank, but an honorary membership.  This type of member does not receive all of the benefits of the Guild, and is not able to participate in Guild Votes or serve on any Boards.  This member also has limited or temporary access to Guild Communication platforms.  This title is given to well-known speakers and leaders in the communities of our Guild Disciplines, and allows them some benefits and discounts related mainly to conferences.  Only 10% of the membership count can hold this title.</li>
		
		<li>Lifetime - This is a member who has made extraordinary contributions to their discipline(s) of the I.T. Community such that their place is immortalized as a permanent fixture.  This position has more benefits than an Honorary member, but does not pay dues.</li>
	</ol>

	<!-- <h2><b>Skill Levels</b></h2>

	<p>Though an aspect of Time is taken into account for Rank, Rank is mainly a combination of skills measured through a demonstrable skill review, and professionalism measured by communication ability and talking with prior clients/employers.</p>

	<p><b>Deep</b> skill growth is obtained when an individual focuses on a niche or narrow field of study, forsaking adjacent or semi related skills.  For example, giving heavy focus to running endurance, or heavy focus to arm strength exercises.</p>

	<p><b>Wide</b> skill growth is the idea of allocating time and focus across adjacent or related fields of study, though not going too deep.  For example, doing some leg strength, arm strength, and core exercises to enhance your main goal of running endurance, but never heavily focusing on any one thing.</p>

	<p><b>Overall Skill Development</b>: Professionals typically begin with a bias toward deep skill focus (like running a marathon) and their proficiency of adjacent or related skills will grow naturally or with a bit of forethought (like also training core strength and leg strength a bit).</p>

	<p><b>Infinite Variables</b>: In the IT industry, there are a huge number of disciplines, technologies, principles, languages, frameworks, processes, and more.  Focusing purely on writing code, or purely on mastering how an SDLC works is not very useful.  Also not very useful is trying to master more than one or two deep skills.  Find the one or two subjects you want to master, and focus hard on that, while providing a bit of additional research and growth in adjacent skills.  It would be impossible to organize and label every single permutation of skill sets possible in the IT industry.</p>

	<h2><b>No Journey Level Rank</b></h2>

	<p>As related to the aforementioned <b>Infinite Variables</b>, a Journey Level professional could be a person who has focused their career in one Deep skill, or building a width of skills, or working on some skills for a few months and others for decades, and could have varying levels of demonstrable skills in any number of disciplines or technologies.</p>

	<p>A <b>Novice</b> is a person who has less than 2 years of experience, or who is still practicing at mastering the low level concepts of their discipline, and can't yet discuss or understand a minimum set of the higher level theories or principles.</p>

	<p>An <b>Expert</b> is a person who has over ~10 (give or take) years of experience, <b>and</b> unconsciously performs the low level concepts while observing all of the principles of their discipline.</p>

	<p>It is easy to define a Novice or Expert skill level, because those are the front and back boundaries of a breadth of possibilities.  But the huge grey area in the middle is impossible to label, other than to say a person is more than a Novice, but less than an Expert.</p>

	<p>That is why the Guild does not provide a Rank for Journey Level professionals.  The amount of work required to officially recognize a person's skill level outside of "Novice" or "Expert" is a massive undertaking that will always result in being unfair to the professional, as well as any companies who rely on the Guild's rank system.</p>

	<p>However, the Guild does allow membership for any person claiming to be a Journey Level professional.  That is, a person who is demonstrably beyond a Novice, but not yet an Expert.  A journeyperson may not receive a Rank page, nor access to certain Guild resources, but a journeyperson may join in general conversations and take part of some resources.</p>

	<h2>Art Skills</h2>

	<p>I daresay my personal art skills are horrendous, and as with everything else in the Guild, we are open to help.</p>

	<img src="/assets/images/skill_levels.png" />

	<p>This image represents how the Guild views skill level distribution amongst the workforce, where the red is some amount of Novice, and the yellow is some amount of Expert.  The grey area in the middle represents a journeyperson, while the gradient of red and yellow within the grey area represents the gradual transitional periods for professionals.  The yellow and red dots are placed on the horizontal axis where a person thinks they land, but in reality they are truly experts (yellow) or novice (red).  Grey area is pure journeyperson range.  The purple, green, and blue represent varying levels of mastery and/or contributing back to the community with books, videos, blogs, etc.</p>

	<p>The image demonstrates how difficult and unfair it would be to try to put a label on anybody in the 80% of the workforce who are not clearly Novices or Experts.</p> -->
</div>